@model OnlineElections.Models.Candidate
@{
    ViewBag.Title = "ConfirmCandidateRegistration";
}
<div class="row">
    <section>
        <img id="title" src="~/Images/Img1.png" style="width:100%;max-width:300px">
    </section>
</div>
<h2>Your Registration has been successful</h2>
<h3> Your Candidate Id is @Model.CandidateID</h3>
