
@{
    ViewBag.Title = "AlreadyVoted";
}
<div class="row">
    <section>
        <img id="title" src="~/Images/Img1.png" style="width:100%;max-width:300px">
    </section>
</div>
<h2>You have already given your Vote.</h2>

