
@{
    ViewBag.Title = "ConfirmVoting";
}
<div class="row">
    <section>
        <img id="title" src="~/Images/Img1.png" style="width:100%;max-width:300px">
    </section>
</div>
<h2>Thank You for your valueable Vote.</h2>

