    @model OnlineElections.Models.Voter
    @{
        ViewBag.Title = "ConfirmVoterRegistration";
    }
<div class="row">
    <section>
        <img id="title" src="~/Images/Img1.png" style="width:100%;max-width:300px">
    </section>
</div>
    <h2>Congratulations, Your registration has been successful</h2>
    <h3> Your Voter Id is @Model.VoterId</h3>
