@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <div class="row">
        <section style="display: flex;justify-content:center;">
            <img id="title" src="~/Images/ElectionLogo.png"style="margin-bottom: 20px;">
            
        </section>
    </div>
    <div class="row">
        <section style="display: flex;justify-content:center;">
            <p>
                The Election Commission of India is an autonomous constitutional authority responsible for administering
                Union and<br> &nbsp;&nbsp;&nbsp;&nbsp; State election processes in India. The body administers elections to the Lok Sabha, Rajya Sabha,
                State Legislative <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;Assemblies in India, and the offices of the President and Vice President in the country.
            </p>
        </section>
    </div>
    <div>
        <section>
            <h3>A Constitutional Body</h3>
            <p>
                India is a Socialist, Secular, Democratic Republic and the largest democracy in the World. The modern Indian
                nation state came into existence on 15th of August 1947. Since then free and fair elections have been held at regular
                intervals as per the principles enshrined in the Constitution, Electoral Laws and System.<br><br>

                The Constitution of India has vested in the Election Commission of India the superintendence, direction and 
                control of the entire process for conduct of elections to Parliament and Legislature of every State and to the
                offices of President and Vice-President of India.<br><br>

                Election Commission of India is a permanent Constitutional Body. The Election Commission was established in
                accordance with the Constitution on 25th January 1950. The Commission celebrated its Golden Jubilee in 2001.<br><br>

                Originally the commission had only a Chief Election Commissioner. It currently consists of Chief Election Commissioner 
                and two Election Commissioners.<br><br>

                For the first time two additional Commissioners were appointed on 16th October 1989 but they had a very short tenure
                till 1st January 1990. Later, on 1st October 1993 two additional Election Commissioners were appointed. The concept of 
                multi-member Commission has been in operation since then, with decision making power by majority vote.
            </p>
        </section>
    </div>
    <div>
        <section style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 10px;">
            <img src="~/Images/Image1.jpg" style="grid-row: span 2; max-width: 100%;" />
            <img src="~/Images/Image2.jpg" style="max-width: 100%;" />
            <img src="~/Images/Image4.jpg" style=" max-width: 100%;" />
        </section>
    </div>
    
</main>