@{
    ViewBag.Title = "Home Page";
}


<main>
    <div class="row">
        <section>
            <img id="title" src="~/Images/Img1.png" style="width:100%;max-width:300px">
        </section>
    </div>

    <div class="row">
        <section aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Election Commission of India (ECI)</h2>
            <p>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Election Commission of India (ECI) is a constitutional body established by the Constitution of India to
                conduct and regulate elections in the country. Article 324 of the Constitution provides that the power of
                superintendence, direction, and control of elections to parliament, state legislatures, the office of the
                president of India, and the office of vice-president of India shall be vested in the election commission.
                Thus, the Election Commission is an all-India body in the sense that it is common to both the Central government
                and the state governments.<br>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The body administers elections to the Lok Sabha, Rajya Sabha, State Legislative Assemblies, State Legislative
                Councils and the offices of the President and Vice President of the country. The Election Commission operates
                under the authority of Constitution per Article 324, and subsequently enacted Representation of the People Act.
                The commission has the powers under the Constitution, to act in an appropriate manner when the enacted laws make
                insufficient provisions to deal with a given situation in the conduct of an election. It is a permanent constitutional
                body.
            </p>
            <p><a class="btn btn-outline-dark" href="https://en.wikipedia.org/wiki/Election_Commission_of_India">Learn more &raquo;</a></p>
        </section>
        <section style="display:flex ;justify-content: center;">
            <img src="~/Images/Ele.jpg"  style="margin-bottom:20px;"/>
        </section>
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">General Elections</h2>
            <p>
                General Elections was held to constitute the Lok Sabha, electing members of parliment for all 543 constituencies of India.
            </p>
            <p><a class="btn btn-outline-dark" href="https://www.eci.gov.in/general-elections">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Assembly Elections</h2>
            <p>The Legislative Assembly elections in India are hel in every 5 years in which the Indian electorate choose the members of the Vidhan Sabha (or Legislative/State Assembly)</p>
            <p><a class="btn btn-outline-dark" href="https://www.eci.gov.in/assembly-election">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Bye Elections</h2>
            <p>Bye-Elections (also known as bypolls) are used to fill elected offices that have become vacant between general elections.</p>
            <p><a class="btn btn-outline-dark" href="https://www.eci.gov.in/bye-elections">Learn more &raquo;</a></p>
        </section>


    </div>
</main>